{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block Titulo %}
¡Haz tu pedido, crea tu pizza!
{% endblock %}

{% block nav %}
{% endblock %}
{% block content %}

<form id="form_detalle_reserva">
  <div class="container">
  <div class="row">
    <div class="col">
        <center>Detalles de reserva</center>
        <hr>
      <div class="form-group row">
        <label for="example-datetime-local-input" class="col-5 col-form-label">Fecha y hora de retiro</label>
        <div class="col-7  ">
          <input  required class="form-control" type="datetime-local" id="fecha_retiro" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </div>
      </div>

        <div class="form-group row">
          <label for="example-datetime-local-input" class="col-5 col-form-label">Fecha y hora de entrega</label>
          <div class="col-7  ">
            <input class="form-control" type="datetime-local"  id="fecha_entrega" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
          </div>
        </div>
      <div class="form-group row">
        <label for="exampleFormControlSelect1" class="col-5 col-form-label">Sucursal retiro</label>
        <div class="col-7  ">
          <select  class="form-control" id="sucursal_retiro">
            <option value=""></option>
            {% for i in sucursales %}
            <option value="{{i.pk}}">{{i.Nombre}}</option>

            {% endfor %}

          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="exampleFormControlSelect1" class="col-5 col-form-label">Sucursal entrega</label>
        <div class="col-7  ">
          <select  class="form-control" id="sucursal_entrega">
            <option ></option>
            {% for i in sucursales %}
            <option value="{{i.pk}}">{{i.Nombre}}</option>

            {% endfor %}

          </select>
        </div>
      </div>
    <!-- check buttons -->
    <div class="container">
      Seleccione si necesita accesorios extras
      {% for i in accesorios %}
      <div class="form-check">

        <input class="form-check-input" type="checkbox" value="{{i.pk}}" id="Accesorio{{i.pk}}">
        <label class="form-check-label" for="defaultCheck1">
          {{i.Nombre}}
        </label>
      </div>
      {% endfor %}

    </div>
<!-- fin div row -->


    </div>
    <div class="col">
        <center>Abonar garantia</center>
        <hr>
        <div style="text-align: center;margin:2%;">
            <button type="button" class="btn btn-primary active" id="tarjeta_credito">Tarjeta de credito</button>
            <button type="button" class="btn btn-primary " id ="webpay">Webpay</button>
        </div>
        <div id="contenido_pago">

        </div>


    </div>
      </div>
      <center>
        <div class="form-check">
          <input required class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Acepto los terminos y condiciones
          </label>
        </div>
      </center>
    <button style="text-align: center;margin:2%;" type="submit" class=" col-md-11 btn btn-primary">Realizar reserva</button>

</form>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

<script>
$( document ).ready(function() {
  // alert({{user.pk}});

  // alert("hola");
  // alert(getCookie('bicis'));
  $("#tarjeta_credito").click(function(){
    // alert("hola");
    $("#contenido_pago").html("<br><div class='container'><div class='row'>Usted va a realizar el pago con tarjeta de credito.</div><div class='row'><button onclick='realizarPago() 'type='button'  id='realizar_pago' class='btn btn-success'>Realizar pago</button></div></div>");
  });
  $("#webpay").click(function(){
    // alert("hola");
    $("#contenido_pago").html("<br><div class='container'><div class='row'>Usted va a realizar el pago con webpay.</div><div class='row'><button onclick='realizarPago() 'type='button'  id='realizar_pago' class='btn btn-success'>Realizar pago</button></div></div>");
  });
  // $("#realizar_pago").click(function(){
  //   alert("hola");
  //   $("#contenido_pago").html('<div  class="icon" style="text-align: center"><i class="fa fa-spinner fa-pulse"></i></div>');
  // });

  bicis = getCookie('bicis');
  // alert(bicis);
  // console.log("{% csrf_token %}");
  list_accesorios = []
  {% for i in accesorios %}
  $( "#Accesorio{{i.pk}}" ).click(function() {
    // alert( "{{i.pk}}" );
    // var nombreClase = document.getElementById("#Accesorio{{i.pk}}").className
    if( $("#{{i.pk}}").hasClass('check')){
      // alert("CHECKKKK");
      $("#Accesorio{{i.pk}}").removeClass("check");
      // alert("#Accesorio{{i.pk}}"  );
      $("#div{{i.pk}}").remove();
      list_accesorios.pop();
    }else {
    $( "#informacion_bicis" ).append( "<div id='div{{i.pk}}'><Accesorio style=' border: black 1px solid;'  id='bici{{i.pk}} height='10%' width='10%' src='{% get_media_prefix %}{{i.Imagen}}'  /> <label for='user_lic'>{{i.Nombre}} <br> Stock disponible: {{i.Stock}} <br>Cantidad a arrendar: </label><input id= 'bici{{i.pk}}' type='number' min='1' max={{i.Stock}} step='1' value='1' /></div>" );
    $(this).toggleClass("check");
    list_accesorios.push("{{i.pk}}")
  }
});
  {% endfor %}
  $('#form_detalle_reserva').submit(function(){
    alert(list_accesorios);
  // alert("holsa");
  // {% for i in accesorios %}
  // var a = $('#Accesorio{{i.pk}}').val()
  // if (a != undefined){
  //   alert(a);
  //   list_accesorios.push("{{i.pk}}");
  // }

  {% endfor %}
  var fecha_retiro=$('#fecha_retiro').val().split('-');
  var fecha_entrega=$('#fecha_entrega').val().split('-');
  var sucursal_retiro=$('#sucursal_retiro').val();
  var sucursal_entrega=$('#sucursal_entrega').val();
  // alert('RETIRO'+sucursal_retiro);
  // alert('ENTREGA'+sucursal_entrega);
  // var anho_retiro = fecha[0];
  // var mes_retiro = fecha[1];
  // var aux_dia_retiro = fecha[2].split('T');
  // var dia_retiro = aux_dia_retiro[0];
  // var hora_retiro = aux_hora_retiro[1];
  //
  // alert('anho' +anho_retiro);
  // alert('mes' +mes_retiro);
  // alert('dia'+ dia_retiro);
  // alert('dia'+ hora_retiro);
  var a = 0;
  var i = true;
  while(i){
    if($(".form-check-input")[a] != undefined ){
      if($(".form-check-input")[a].checked){
        var mass = $(".form-check-input")[a].id;
      }
    }else{
      i = false;
    }
    a = a + 1
    }
    // alert(mass);

  $.ajax({
      url: "{% url 'detalle_reserva' %}",
      type: "POST",
      data: {
          'bicis':String(bicis),
          'fecha_retiro':String(fecha_retiro),
          'fecha_entrega':String(fecha_entrega),
          'sucursal_retiro': String(sucursal_retiro),
          'sucursal_entrega': String(sucursal_entrega),
          'csrfmiddlewaretoken': getCookie('csrftoken'),
      },
      success: function (data) {
          console.log(data);
          // alert("calmao washo");
          alert("reserva de bicicleta realizada exitosamente :D");
          window.location.href = "{% url 'index' %}";

      },
    });
  return false;
  });
});
</script>
<script>
function realizarPago() {
  $("#contenido_pago").html('<br><div  class="icon" style="text-align: center"><i class="fa fa-spinner fa-pulse"></i></div>')
  setTimeout(function(){ $("#contenido_pago").html('<br>Pago Realizado exitosamente'); }, 3000);
};

// function fafaIcon(){
//   $("#contenido_pago").html('<div  class="icon" style="text-align: center"><i class="fa fa-spinner fa-pulse"></i></div>');
//
// };
</script>

</script>

</script>
sdfdsf
{% endblock %}
