{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block Titulo %}
¡Haz tu pedido, crea tu pizza!
{% endblock %}

{% block nav %}
{% endblock %}
{% block content %}

<form id="form_detalle_reserva">

<div class="container row justify-content-md-center">
  <button style="text-align: center;" type="submit" class=" col-md-12 btn btn-primary">Continuar arriendo</button>
</div>
</form>

<!-- <script src="{% static 'js/jquery-3.2.1.min.js' %}"> </script> -->
<script>
  alert("HOLA");
</script>
<script>
$(document).ready(function () {

})

</script>
sdfdsf
{% endblock %}
