{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block Titulo %}
¡Haz tu pedido, crea tu pizza!
{% endblock %}

{% block nav %}
{% endblock %}
{% block content %}

<form id="form_detalle_reserva">

<!-- <div class="container row justify-content-md-center">
  <button style="text-align: center;" type="submit" class=" col-md-12 btn btn-primary">Continuar arriendo</button>
</div>
</form> -->
  <div class="container">
  <div class="row">
    <div class="col">

      <div class="form-group row">
        <label for="example-datetime-local-input" class="col-5 col-form-label">Fecha y hora de retiro</label>
        <div class="col-7  ">
          <input  required class="form-control" type="datetime-local" id="fecha_retiro" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </div>
      </div>

        <div class="form-group row">
          <label for="example-datetime-local-input" class="col-5 col-form-label">Fecha y hora de entrega</label>
          <div class="col-7  ">
            <input class="form-control" type="datetime-local"  id="fecha_entrega" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
          </div>
        </div>
      <div class="form-group row">
        <label for="exampleFormControlSelect1" class="col-5 col-form-label">Sucursal retiro</label>
        <div class="col-7  ">
          <select  class="form-control" id="sucursal_retiro">
            <option value=""></option>
            {% for i in sucursales %}
            <option value="{{i.pk}}">{{i.Nombre}}</option>

            {% endfor %}

          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="exampleFormControlSelect1" class="col-5 col-form-label">Sucursal entrega</label>
        <div class="col-7  ">
          <select  class="form-control" id="sucursal_entrega">
            <option ></option>
            {% for i in sucursales %}
            <option value="{{i.pk}}">{{i.Nombre}}</option>

            {% endfor %}

          </select>
        </div>
      </div>
    <!-- check buttons -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Casco
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Rodilleras
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Coderas
        </label>
      </div>

<!-- fin div row -->
    <div class="form-check">
      <input required class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Acepto los terminos y condiciones
      </label>
    </div>

    </div>
    <div class="col">

    </div>
    <button style="text-align: center;margin:2%;" type="submit" class=" col-md-11 btn btn-primary">Realizar reserva</button>

</form>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

<script>
$( document ).ready(function() {
  alert({{user.pk}});

  // alert("hola");
  // alert(getCookie('bicis'));
  bicis = getCookie('bicis');
  // alert(bicis);
  // console.log("{% csrf_token %}");
  $('#form_detalle_reserva').submit(function(){
  alert("holsa");
  var fecha_retiro=$('#fecha_retiro').val().split('-');
  var fecha_entrega=$('#fecha_entrega').val().split('-');
  var sucursal_retiro=$('#sucursal_retiro').val();
  var sucursal_entrega=$('#sucursal_entrega').val();
  alert('RETIRO'+sucursal_retiro);
  alert('ENTREGA'+sucursal_entrega);
  // var anho_retiro = fecha[0];
  // var mes_retiro = fecha[1];
  // var aux_dia_retiro = fecha[2].split('T');
  // var dia_retiro = aux_dia_retiro[0];
  // var hora_retiro = aux_hora_retiro[1];
  //
  // alert('anho' +anho_retiro);
  // alert('mes' +mes_retiro);
  // alert('dia'+ dia_retiro);
  // alert('dia'+ hora_retiro);
  var a = 0;
  var i = true;
  while(i){
    if($(".form-check-input")[a] != undefined ){
      if($(".form-check-input")[a].checked){
        var mass = $(".form-check-input")[a].id;
      }
    }else{
      i = false;
    }
    a = a + 1
    }
    // alert(mass);

  $.ajax({
      url: "{% url 'detalle_reserva' %}",
      type: "POST",
      data: {
          'bicis':String(bicis),
          'fecha_retiro':String(fecha_retiro),
          'fecha_entrega':String(fecha_entrega),
          'sucursal_retiro': String(sucursal_retiro),
          'sucursal_entrega': String(sucursal_entrega),
          'csrfmiddlewaretoken': getCookie('csrftoken'),
      },
      success: function (data) {
          console.log(data);
          // alert("calmao washo");
          alert("reserva de bicicleta realizada exitosamente :D");
          window.location.href = "{% url 'index' %}";

      },
    });
  return false;
  });
});
</script>
sdfdsf
{% endblock %}
