{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block Titulo %}
¡Haz tu pedido, crea tu pizza!
{% endblock %}

{% block nav %}
{% endblock %}
{% block content %}
<style>
  .div-imagen {
  display:inline-block;
  position:relative;
}

.div-imagen > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
}

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}
.check
{
    opacity:0.5;
	color:#996;

}
</style>

<form id="form_reserva" method="post">
<div class="container" style="overflow-y: scroll; height:400px;">

    <div class="row">
      {% for i in bicicletas %}
      <div class="col-4">
        <div class="div-imagen" style="display:block;      width: 100%;height: 100%;">
          <div>
            <p>{{i.Nombre}}</p>
            <p>  Garantia: {{i.Monto_garantia}}</p>
          </div>

          <img name="boton" style=" border: black 1px solid;"  id="img{{i.pk}}"class="desvanecer" height="100%" width="100%" src="{% get_media_prefix %}{{i.Imagen}}"  />

        </div>
        <!--  -->
      </div>
      {% endfor %}
    </div>
</div>
<hr style="width:75%;">

<div class="container row justify-content-md-center" id="informacion_bicis">
</div>
 <!-- onclick="location.href='{% url 'detalle_reserva' %}' -->
<button style="text-align: center;margin:2%;" type="submit" class=" col-md-11 btn btn-primary">Continuar arriendo</button>
</form>


<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
$( document ).ready(function() {
    list_ing = ['2','3']
    console.log( "document loaded" );
    // alert("HOLA");
    {% for i in bicicletas %}
    $( "#img{{i.pk}}" ).click(function() {
      // alert( "{{i.pk}}" );
      // var nombreClase = document.getElementById("#img{{i.pk}}").className
      if( $("#img{{i.pk}}").hasClass('check')){
        // alert("CHECKKKK");
        $("#img{{i.pk}}").removeClass("check");
        // alert("#img{{i.pk}}"  );
        $("#bici{{i.pk}}").remove();
      }else {
      $( "#informacion_bicis" ).append( "<div id= 'bici{{i.pk}}'><img style=' border: black 1px solid;'  id='bici{{i.pk}} height='10%' width='10%' src='{% get_media_prefix %}{{i.Imagen}}'  /> <label for='user_lic'>{{i.Nombre}} <br> Garantia: {{i.Monto_garantia}} <br>Cantidad a arrendar: </label><input  type='number' min='1' max={{i.Stock}} step='1' /></div>" );
      $(this).toggleClass("check");
    }});
    {% endfor %}
    // cierre principal
    });
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }

    $('#form_reserva').submit(function(){
    alert("holis");
    var a = 0;
    var i = true;
    while(i){
      if($(".form-check-input")[a] != undefined ){
        if($(".form-check-input")[a].checked){
          var mass = $(".form-check-input")[a].id;
        }
      }else{
        i = false;
      }
      a = a + 1
      }
      // alert(mass);
    $.ajax({
        url: "{% url 'reservar_bici' %}",
        type: "POST",
        data: {
            'list_ing': String(list_ing),
            'csrfmiddlewaretoken': getCookie('csrftoken'),
        },
        success: function (data) {
            console.log(data);
            alert("calmao washo");
            window.location.href = "{% url 'detalle_reserva' %}";

        },
      });
    return false;
    });
//     $('#form_reserva').submit(function(){
//       Alert("xddd");
//     });
//
//     $.ajax({
//
//     url: "{% url 'index' %}",
//     type: "POST",
//     data: {
//         'list_ing': String("asd"),
//         'csrfmiddlewaretoken': getCookie('csrftoken'),
//     },
//     success: function (data) {
//         window.location.href = "{% url 'detalle_reserva' %}";
//
//     },
//     // cierre de ajax
// });

</script>


{% endblock %}
