{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block Titulo %}
¡Haz tu pedido, crea tu pizza!
{% endblock %}

{% block nav %}
{% endblock %}
{% block content %}
<style>
.filterDiv {
display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  /* background-color: #f1f1f1; */
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
  .div-imagen {
  display:inline-block;
  position:relative;
}

.div-imagen > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
}

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}
.check
{
    opacity:0.5;
	color:#996;

}
</style>

<div id="myBtnContainer">
  <h3>Sucursal inicio</h3>
  {% for i in sucursales %}

  <button id="sucursal{{i.pk}}" class="btn" onclick="filterSelection('sucursal{{i.pk}}')"> {{i.Nombre}}</button>
  {% endfor %}
</div>



<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
<form id="form_reserva" method="post">
<div class="container" style="overflow-y: scroll; height:400px;">

    <div class="row">
      {% for i in bicicletas %}
      <div class="col-4 filterDiv sucursal{{i.Sucursal.pk}}" >
        <div class="div-imagen" style="display:block;      width: 100%;height: 100%;">
          <div>
            <p>{{i.Nombre}}</p>
            <p>  Garantia: {{i.Monto_garantia}}</p>
          </div>

          <img name="boton" style=" border: black 1px solid;"  id="img{{i.pk}}"class="desvanecer" height="100%" width="100%" src="{% get_media_prefix %}{{i.Imagen}}"  />

        </div>
        <!--  -->
      </div>
      {% endfor %}
    </div>
</div>
<hr style="width:75%;">

<div class="container row justify-content-md-center" id="informacion_bicis">
</div>
 <!-- onclick="location.href='{% url 'detalle_reserva' %}' -->
<button style="text-align: center;margin:2%;" type="submit" class=" col-md-11 btn btn-primary">Continuar con la reserva</button>
</form>


<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
$( document ).ready(function() {
    list_ing = ['2','3']
    list_bicis =[]
    console.log( "document loaded" );
    garantia_monto = 0
    // alert("HOLA");
    {% for i in sucursales %}
      $("#sucursal{{i.pk}}").click(function(){
        // alert("hola");
        $("#myBtnContainer").html("<h3>Seleccione las bicicletas a reservar en {{i.Nombre}}<h3>")
        setCookie("sucursal_retiro",String({{i.pk}}),30)

      });
    {% endfor %}
    {% for i in bicicletas %}
    $( "#img{{i.pk}}" ).click(function() {
      // alert( "{{i.pk}}" );
      // var nombreClase = document.getElementById("#img{{i.pk}}").className
      if( $("#img{{i.pk}}").hasClass('check')){
        // alert("CHECKKKK");
        $("#img{{i.pk}}").removeClass("check");
        // alert("#img{{i.pk}}"  );
        $("#div{{i.pk}}").remove();
        list_bicis.pop();
        garantia_monto = garantia_monto - {{i.Monto_garantia}}


      }else {
      $( "#informacion_bicis" ).append( "<div id='div{{i.pk}}'><img style=' border: black 1px solid;'  id='bici{{i.pk}} height='10%' width='10%' src='{% get_media_prefix %}{{i.Imagen}}'  /> <label for='user_lic'>{{i.Nombre}} <br> Stock disponible: {{i.Stock}} <br>Cantidad a arrendar: </label><input id= 'bici{{i.pk}}' type='number' min='1' max={{i.Stock}} step='1' value='1' /></div>" );
      $(this).toggleClass("check");
      list_bicis.push("{{i.pk}}")
      garantia_monto = garantia_monto + {{i.Monto_garantia}}
    }
  });
    {% endfor %}

    // cierre principal
    });
    // function getCookie(name) {
    // var cookieValue = null;
    // if (document.cookie && document.cookie !== '') {
    //     var cookies = document.cookie.split(';');
    //     for (var i = 0; i < cookies.length; i++) {
    //         var cookie = jQuery.trim(cookies[i]);
    //         // Does this cookie string begin with the name we want?
    //         if (cookie.substring(0, name.length + 1) === (name + '=')) {
    //             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    //             break;
    //         }
    //     }
    // }
    // return cookieValue;
    // }



    $('#form_reserva').submit(function(){
    list_bicis_stock = []
    {% for i in bicicletas %}
    var a = $('#bici{{i.pk}}').val()
    if (a != undefined){
      // alert("SI TIENE!!");
      // alert ("A:"+ a + "PK:" + {{i.pk}});
      list_bicis_stock.push(a +"-"+ "{{i.pk}}");
    }
    // alert(a);
      // alert( "{{i.pk}}" );
    // alert("hola");

    {% endfor %}
    // alert(list_bicis_stock);
    // alert("holis");
    var a = 0;
    var i = true;
    while(i){
      if($(".form-check-input")[a] != undefined ){
        if($(".form-check-input")[a].checked){
          var mass = $(".form-check-input")[a].id;
        }
      }else{
        i = false;
      }
      a = a + 1
      }
      // alert(mass);

      setCookie("bicis",String(list_bicis_stock),30)
      setCookie("garantia",String(garantia_monto),30)

    $.ajax({
        url: "{% url 'reservar_bici' %}",
        type: "POST",
        data: {
            'csrfmiddlewaretoken': getCookie('csrftoken'),
        },
        success: function (data) {
            console.log(data);
            // alert("calmao washo");
            window.location.href = "{% url 'detalle_reserva' %}";

        },
      });
    return false;
    });


</script>


{% endblock %}
